@import './main.scss';
@import "@fontsource/zen-kaku-gothic-new";
$locations-index-height: 100rem;
$location-bg-color:#F1EEE6;

// nav{
//   width: 100vw;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 1.8rem 0 !important;
//   z-index: 10;
// }
a{
  text-decoration: none !important;
  margin: 0 0.8rem;
  letter-spacing: 0.1rem;
  color: $color-text;
  // @include buttonHoverEffect;
}

#locations_type_3{
  background-color: $location-bg-color;
  width: 100vw;

  .locations_type_3_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .index_container{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8.1rem;
      margin-bottom: 5rem;

      .index_prop{
        font-size: 1.2rem;
      }
    }

    .body_container{
      width: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 2.5rem;

      .title_container{
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        line-height: 3.6rem;
        margin-bottom: 2rem;

      }
      .description_container{
        font-size: .8rem;
        line-height: 1.8rem;
      
      }
    }

    .img_container{
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      .img_sep_container{
        width: 100%;
        display: flex;
        &:nth-child(1){
          justify-content: flex-start;
          margin-bottom: 1rem;
          .img_prop{
            object-fit: cover;
            width: 28rem;
            height: 15rem;
          }
        }
        &:nth-child(2){
          justify-content: flex-end;
          margin-top: 1rem;
          margin-bottom: 2.5rem;
          .img_prop{
            object-fit: cover;
            width: 40rem;
            height: 20rem;
          }
        }
      }
    }
    
  }
}