@import './main.scss';
@import "@fontsource/zen-kaku-gothic-new";
$location-bg-color:#F1EEE6;

#privacy_policy{
  font-family: 'Zen Kaku Gothic New', 'Poppins', 'Lato', 'Yeseva One', 'Noto Sans JP', sans-serif, cursive !important;
  background-color: $location-bg-color;
  text-align: left;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 3.2rem;

  h1{
    font-size: 2rem;
    font-weight: 400 !important;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Poppins', 'Lato', 'Yeseva One', 'Noto Sans JP', sans-serif, cursive !important;
  }
  h2, .tableLabel{
    font-size: 0.8rem;
    font-weight: 700;
    color: black;
    // text-shadow: 1px 0px 0px #000;
    // padding-right: 1px;
    // letter-spacing: 1px;
    margin: 0.5rem 0;
  }
  p, .tableContents{
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0.5rem 0;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    color: #383C47;
  }
  td, th{
    border: #B3B3BE 1px solid;
    padding: 0.4rem 0.35rem;
  }

  .description_section_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  .btn_close_the_window_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-top: 3.2rem;
    border-top: #B3B3BE 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;

    Button{
      width: 30%;
    }
  }
}