@import './main.scss';
@import "@fontsource/zen-kaku-gothic-new";
$top-view-all-locations-height: 100rem;

#top_gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-top-gray;
  // height: $top-view-all-locations-height;
  width: 100vw;
  overflow-x: hidden;
  z-index: 99;
}
img{
  // width: 100%;
  // height: 100%;
}

//================== top section ==================
.gallery_container{
  width: 100%;
  // height: 28.5rem;
  margin: 0.5rem -0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  height: 200vh;
  z-index: 200;

  &::-webkit-scrollbar {
    display: none;
  }

  &:nth-child(1){
    height: auto;
    z-index: 2;
    .gallery_img{
      // pointer-events: none;
      object-fit: cover;
      position: relative;
      margin: 0 1.5rem;
      transition: transform .2s ease-in-out;
      &:hover{
        transform: scale(1.1);
        transition: transform .2s ease-in-out;
      }
      @include customHoverCursor;
  
      &:nth-child(1){
        width: 16.97em;
        height: 16.97em;
        margin-top: 7rem;
        margin-right: 5rem;
        opacity: 0;
      }
      &:nth-child(2){
        width: 11.7rem;
        height: 11.7rem;
        margin-top: -5rem;
        margin-right: 3rem;
      }
      &:nth-child(3){
        width: 18.53rem;
        height: 13.66rem;
      }
      &:nth-child(4){
        width: 6.04rem;
        height: 11.2rem;
        opacity: 0;
      }
    }
  }

  &:nth-child(2){
    height: auto;
    .gallery_img{
      // pointer-events: none;
      object-fit: cover;
      position: relative;
      margin: 0 1.5rem;
      clear: both;
      z-index: 3;
      @include customHoverCursor;
      transition: transform .2s ease-in-out;
      &:hover{
        transform: scale(1.1);
        transition: transform .2s ease-in-out;
      }
  
      &:nth-child(1){
        width: 18.24rem;
        height: 8.87rem;
        margin-left: -12rem;
        margin-right: 3rem;
      }
      &:nth-child(2){
        width: 10.53rem;
        height: 15.6rem;
        margin-right: 3rem;
      }
      &:nth-child(3){
        width: 16.58rem;
        height: 16.58rem;
        margin-top: -5rem;
        margin-right: 3rem;
        opacity: 0;
      }
      &:nth-child(4){
        width: 9.6rem;
        height: 15.9rem;
      }
      &:nth-child(5){
        width: 13.95rem;
        height: 19.51rem;
        margin-top: 5rem;
        margin-left: 3rem;
        opacity: 0;
      }
    }
  }
    
  &:nth-child(3){
    height: auto;
    .gallery_img{
      // pointer-events: none;
      object-fit: cover;
      position: relative;
      margin: 0 1.5rem;
      @include customHoverCursor;
      transition: transform .2s ease-in-out;
      &:hover{
        transform: scale(1.1);
        transition: transform .2s ease-in-out;
      }
  
      &:nth-child(1){
        width: 19.51rem;
        height: 11.7rem;
        margin-top: -7rem;
        margin-left: 3rem;
      }
      &:nth-child(2){
        width: 21.95rem;
        height: 14.04rem;
        margin-top: 5rem;
        opacity: 0;
      }
      &:nth-child(3){
        width: 14.14rem;
        height: 20.48rem;
        opacity: 0;
      }
      &:nth-child(4){
        width: 19.65rem;
        height: 13.17rem;
      }
      &:nth-child(5){
        width: 7.21rem;
        height: 11.7rem;
      }
    }
  }
    
  &:nth-child(4){
    height: auto;
    .gallery_img{
      // pointer-events: none;
      object-fit: cover;
      position: relative;
      margin: 0 1.5rem;
      @include customHoverCursor;
      transition: transform .2s ease-in-out;
      &:hover{
        transform: scale(1.1);
        transition: transform .2s ease-in-out;
      }
  
      &:nth-child(1){
        width: 17.21rem;
        height: 20.53rem;
        opacity: 0;
      }
      &:nth-child(2){
        width: 14.63rem;
        height: 24.39rem;
        margin-top: 5rem;
        margin-left: 5rem;
        opacity: 0;
      }
      &:nth-child(3){
        width: 21.46rem;
        height: 16.09rem;
        margin-top: -3rem ;
        margin-left: 6rem;
      }
      &:nth-child(4){
        width: 19.51rem;
        height: 14.63rem;
        margin-top: -10rem;
        opacity: 0;
      }
    }
  }
    
  &:nth-child(5){
    // position: absolute;
    // margin: 50vh;
    height: auto;
    .gallery_img{
      // pointer-events: none;
      object-fit: cover;
      position: relative;
      margin: 0 1.5rem;
      @include customHoverCursor;
      transition: transform .2s ease-in-out;
      &:hover{
        transform: scale(1.1);
        transition: transform .2s ease-in-out;
      }
  
      &:nth-child(1){
        width: 18.53rem;
        height: 13.65rem;
        margin-left: 75vw;
      }
      &:nth-child(2){
        width: 16.97rem;
        height: 16.97rem;
        opacity: 0;
      }
    }
  }
}